
@font-face {
  font-family: 'Muli-ExtraBold';
  src: url('Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Muli-ExtraBold.woff') format('woff'), url('Muli-ExtraBold.ttf')  format('truetype'), url('Muli-ExtraBold.svg#Muli-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
