$color__brand-seagreen: #c8e3dc;
$color__brand-black: #000000;
$color__brand-pink: #dcc8b6;
$color__brand-gray: #999999;

$color__alt-gray:#cccccc;

$color__h1:#333333;
$color__h2:#818285;

$color__span:#999999;

$color__background-body: $color__brand-seagreen;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #333;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;


$color__link: $color__brand-gray;
$color__link-visited: $color__brand-gray;
$color__link-hover: $color__brand-black;


$color__button: $color__brand-black;
$color__background-button: $color__brand-pink;
$color__border-button: none;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

$color__border-input: #ccc;
$color__border-abbr: #666;

// #c8e3dc
// #dcc8b6
// #a8a9ab
// #000000
// #ccb8a8
// #333333
// #ffffff
// #818285
// #7d7d7d
//
// 818285
// 818285
//
// #666666 H1
//
// 818285
// dcc8b6
// 818285
// f2f2f3