/* Fonts */

$font__alex: 'AlexBrush-Regular', sans-serif; // remove
$font__semi: 'SourceSansPro-Semibold', sans-serif;  // remove

$font__regular: 'Muli-Regular', sans-serif;
$font__light: 'Muli-Light', sans-serif;
$font__bold: 'Muli-Bold', sans-serif;
$font__extra-bold: 'Muli-ExtraBold', sans-serif;
$font__black: 'Muli-Black', sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-pre: 1.6;

$font__main: $font__light;
$font__size-body: 0.9375rem;
$line-height-body: 1.5;